<div class="container px-5">
    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
        <div class="col-auto"><div class="small m-0">Fugomika &copy; 2023</div></div>
        <div class="col-auto">
            <div class="d-flex justify-content-center fs-2 gap-4">
                <a class="text-gradient" target="_blank" href="https://www.instagram.com/farras.ft/"><i class="bi bi-instagram"></i></a>
                <a class="text-gradient" target="_blank" href="https://github.com/Fugomika"><i class="bi bi-github"></i></a>
                <a class="text-gradient" target="_blank" href="https://www.linkedin.com/in/abdurrahmanfarrasft/"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>